body {
    background-image: url('https://i.pinimg.com/originals/0e/33/57/0e3357c5984725c0726b324af49f2c1c.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    background-attachment: fixed;
}